.container{
    border: 1px solid black;
    width: 100%;
    padding: 0;
    height: 300vh;
}
.box{
    display: flex;
    margin: auto;
}
@media only screen and (max-width:350px)
{
    .box{
        display: block;
        text-align: center;
    }
}
.box-item{
    border: 1px solid red;
    padding-top: 4vh;
    padding-bottom: 4svh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.about-info-main-heading{
    margin-top: 4vh;
    margin-bottom: 6vh;
    margin-left: 1vw;
    border-bottom: 3px solid red;
    border-radius: 2px;
    width: 14.4vw;
    padding-bottom: 2px;
}