#hero {
    height: auto;
    width: 100%;
    padding-bottom: 3vh;
    background-image: url('../images/home-hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.9;
    z-index: -1;
    display: flex;
    text-align: center;
}

#content {
   width: 48%;
   height: auto;
   margin-top: 15vh;
   margin-left: auto;
}
.navbar {
    height: 09vh;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid grey;
    display: flex;
    /* background-color: rgb(189, 185, 185); */
}

nav ul {
    display: flex;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-left: 3vw;
}

nav li {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
}

nav li a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav li a:hover a:active {
    background-color: black;
    color: white;
}
.nav-btn {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
}

.nav-tit {
    margin-top: 0vh;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 4vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

.navbar-icon {
    height: 3vh;
    width: 2vw;
}

.dropdown {
    display: none;
}

.nav-logo {
    height: 07vh;
    width: 07vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
}

.logo-sec {
    display: flex;
}
.main-head-hero {
    margin-top: 5vh;
    font-family: 'Akshar', sans-serif;
    font-size: 3rem;
}

.hero-content {
    margin-top: 3vh;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.btn-hero {
    width: 10vw;
    margin-top: 1vh;
    font-size: 1.2rem;
    margin-right: 1vw;
    margin-left: 1vw;
}

@media only screen and (max-width: 900px) {
    .logo-sec {
        order: 2;
    }

    #nav-title {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    nav ul {
        display: none;
        margin: 0;
        margin-left: 15vw;
    }
    #hero{
        height: auto;
    }
    #content{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vh;
    }
    .btn-hero{
        width: auto;
    }
    .dropdown {
        order: 1;
        display: block;
        height: 7vh;
        width: 6vw;
        margin-bottom: 1vh;
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        height: 6vh;
        width: 12vw;
    }

    .navbar-icon {
        height: 6vh;
        width: 12vw;
    }

    .dropdown-tit {
        font-weight: bolder;
        font-size: 3rem;
        color: white;
    }

    .dropdown-content {
        display: none;
        left: 0;
        height: 53vh;
        width: 70vw;
        box-shadow: 1px gray;
        background-color: rgb(73, 73, 73);
        text-align: center;
    }

    .dropdown-content a {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        display: block;
        padding-top: 2vh;
        margin-bottom: 1vh;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* #slider{
    width: 60%;
}

.hero-compart{
    height:87vh;
}
*/